@import "reset.css";

body {
  margin: 0;
  padding: 0;
  &.development {
    border-top: 10px solid green; 
  }
  &.test {
    border-top: 10px solid orange; 
  } 
}

ul.menubar {
  margin: 0 0 10px 0;
  background: #222222;
  padding: 0;
  list-style: none;
  li {
    display: inline-block;
    margin: 0 5px;
  }
  a {
    display: inline-block;
    margin: 0.3em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 0.2em 0.5em;
    color: white;
    text-decoration: none;
    font-variant: small-caps;
    &:hover {
      background: #444444;
    }
    &.current {
      background: #333399;
    }
  }
}

fieldset {
  border: 1px solid #444444;
  padding: 0.5em;
}

legend {
  font-size: 120%;
  margin-left: 0.5em;
  padding: 0 0.5em;
}

h2 {
  margin: 0.5em 0;
  font-size: 120%;
  font-variant: small-caps;
}

#content {
  padding: 5px;
}

#main {
  background-color: red;
  width: 98%;
}

.controls {
  overflow: hidden;
  text-align: center;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    li {
      display: inline-block;
    }
  }
  #current {
    li {
      background: #666;
      border: solid #666;
      border-width: 6px 3px 9px 3px;
    }
  }
}

.centered {
  text-align: center;
}

img {
  border: 0;
}

.thumb {
  width: 100px;
}

.photo {
  img {
    border: 1px solid black;
  }
}

ul.grid {
  float: left;
  list-style-type: none;
  margin: 0 50;
  padding: 0;
  li {
    display: block;
    margin: 10px;
    padding: 0;
    float: left;
    bullet-style: none;
  }
}

#sidebar {
  margin: 0 50;
  clear: both;
}

table {
  td, th {
    padding: 0.3em 0.6em;
    border-bottom: 1px solid #aaaaaa;
  }
  th {
    text-align: left;
  }
}

.problematic {
  color: red;
}
