%h2
  Import
  = @import.id

%table
  - @import.files.by_id.each do |file|
    %tr
      %td&= file.path
      %td
        - if file.failed?
          %ul.bulleted.problematic
            - file.messages.each do |message|
              %li&= message
