.pagination
  = will_paginate @photos

%ul.photos.grid
  - for photo in @photos
    %li.thumb{ :id => dom_id(photo) }
      = photo_link(photo)

#sidebar
  = link_to("Upload a new photo", new_photo_path)
