.controls
  = photo_link(@photo.previous, :id => "prev")
  = photo_link(@photo.next, :id => "next")

.centered
  %p
    = photo_snap(@photo)
  - form_for(@photo) do |f| 
    = f.text_field :description, :cols => 40, :rows => 2
