.controls
  %ul#prev
    - for p in @prior_photos
      %li= photo_link(p)
  %ul#next
    - for p in @subsequent_photos
      %li= photo_link(p)

.centered
  %p
    = photo_snap(@photo)
  - form_for(@photo) do |f| 
    = f.text_field :description, :cols => 40, :rows => 2
