!!! XML
!!! Strict
%html
  %head
    %title Snap-Cache

    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "jquery", "application"
    = yield :head

  %body{ :class => RAILS_ENV }
    #content

      = yield
